version: "3.9"
services:
  users_service:
    build: ./services/users_service
    ports:
      - "8002:8002"
    container_name: users_service
    networks:
      - app-network
    depends_on:
      - mongodb_users
      - rabbitmq
    environment:
      - MONGO_HOST=
      - MONGO_PORT=
      - MONGO_USER=
      - MONGO_PASS=
      - MONGO_DATABASE=
      - MONGO_COLLECTION_USERS=
      - RABBITMQ_HOST=
      - RABBITMQ_USER=
      - RABBITMQ_PASSWORD=
      - USER_ID_REQUEST_QUEUE=
      - MAX_RETRIES=
      - RETRY_DELAY=

  orders_service:
    build: ./services/orders_service
    ports:
      - "8001:8001"
    container_name: orders_service
    networks:
      - app-network
    depends_on:
      - mongodb_orders
      - rabbitmq
      - users_service
    environment:
      - MONGO_HOST=
      - MONGO_PORT=
      - MONGO_USER=
      - MONGO_PASS=
      - MONGO_DATABASE=
      - MONGO_COLLECTION_ORDERS=
      - RABBITMQ_HOST=
      - RABBITMQ_USER=
      - RABBITMQ_PASSWORD=
      - USER_ID_REQUEST_QUEUE=
      - RPC_TIMEOUT=
      - MAX_RETRIES=
      - RETRY_DELAY=
  nginx-gateway:
    build: ./nginx
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf  # Mount custom nginx.conf to container
    ports:
      - "80:80"  # Expose port 80 of Nginx to port 8080 on the host
    networks:
      - app-network  # Connect to a custom network (optional)
    depends_on:
      - users_service
      - orders_service
  rabbitmq:
    image: rabbitmq:3-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672" # Management UI
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - app-network

  mongodb-users:
    image: mongo:latest
    ports:
      - "27017:27017"
    container_name: mongodb_users
    networks:
      - app-network
    volumes:
      - mongodb_users_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongodb-orders:
    image: mongo:latest
    ports:
      - "27018:27017"
    container_name: mongodb_orders
    networks:
      - app-network
    volumes:
      - mongodb_orders_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

volumes:
  mongodb_users_data:
  mongodb_orders_data:

networks:
    app-network:
    driver: bridge
